
*.lock
*.ide
*.ide-shm
*.ide-wal
*.testlog
*.manifest
01-SayMyName/.vs/SayMyName/v16/.suo
*.sln
*.config
*.xml
*.myapp
*.resx
*.pdb
*.txt
*.cache
*.settings
*.resources
*.vbproj
Class 8 28 19/.vs/Class 8 28 19/v16/.suo
